body {
    background-color: #000000;
    color: #FFFFFF;
    height: 100vh;
}

/* grid stuff */

.main-container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Header */

header {
    grid-column: 1/8;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 2px 2px #1e1e1e;
}

.header-buttons {
    display: flex;
    justify-content: end;
}

.header-buttons > a {
    margin: 0 0.5em;
    padding: 0.5em;
    background-color: #E50914;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.header-buttons > button {
    margin: 0 0.5em;
    padding: 0.5em;
    background-color: #E50914;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.header-links > a {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0 0.5em;    
}

header > div {
    width: 20em;
}

/* Footer */

footer {
    grid-column: 1/8;
    background-color: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    box-shadow: 0 -2px 2px #1e1e1e;
}


/* login */
.login-container {
    grid-column: 3/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5em;
    background-color: #1E1E1E;
    margin-top: 2.3em;
    margin-bottom: 2.3em;
}

#logo {
    margin-bottom: 2em;
}

.login-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-input {
    padding: .8em;
}

.form-line {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 3em;
}

#login-button {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: #E50914;
    border: none;
    padding: .5em 2em;
}
/* Homepage */

.homepage-container {
    grid-column: 2/7;
}

.homepage-title {
    color: #E50914;
}

.rsm-geography {
    fill: #EAEAEC;
    stroke: #000000;
    stroke-width: 0.6;
}

.rsm-geography:hover {
    fill: #E50914;
}

.rsm-geography:active {
    fill: #d67979;
}

.tables-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stats-table {
    display: flex;
    width: 45%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.topTenStat {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 5em;
}

.topTenStat > div > p {
    color: #E50914;
}

.stats-table > div > p {
    color: #E50914;
}

.stats-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.stats-table > select {
    align-self: center;
    margin-left: 2em;
}

.stats {
    border: 1px solid #E50914;
    width: 100%;
}

/* Profile page */

.profile-container {
    grid-column: 3/6;
    background-color: #1e1e1e;
    margin: 5em 0;
    padding: 2em 6em;
}

.profile-details {
    display: flex;
}

.profile-details > div {
    display: flex;
    flex-direction: column;
}

.profile-subtitles {
    color: #E50914;
    gap: 1em;
}

.profile-data {
    margin-left: 5em;
    gap: 1em;
}

.reset-password-btn {
    margin-top: 2em;
    padding: 0.5em;
    background-color: #E50914;
    border: none;
    color: #FFFFFF;
    font-size: 16px;
}

/* reset password page */
.reset-container {
    grid-column: 3/6;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 5em 6em 5em 6em;
    background-color: #1E1E1E;
    margin-top: 4.5em;
    margin-bottom: 4.5em;
}

.reset-title {
    color:#E50914;
}

.reset-container > form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.password-input {
    padding: .8em;
}

#reset-button {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    background-color: #E50914;
    border: none;
    padding: .5em 2em;
}

/* user overview page */
.container {
    grid-column-start: 1;
    grid-column-end: 8;
    display: flex;
    justify-content: center;
}

.user-overview-table {
    border: solid 1px white;
    border-collapse: collapse;
    margin-top: 2em;
}

.table-header > tr {
    color: #E50914;
    border-bottom: solid 1px white;
}

tbody > tr {
    border-bottom: solid 1px white;
}

.column-name,
.table-cell {
    padding: 1em;
    text-align: center;
    border-right: solid 1px white;
}